:ruby
  title_for_action = @user.persisted? ? 'Reset Password' : 'Create Password'

  title title_for_action

%h1.text-center= title_for_action

= form_tag sign_up_finish_path, method: :post do
  %label
    Username
    = text_field_tag :username, @user.username, disabled: true, required: true

  %label
    Password
    = password_field_tag :password, nil, required: true

  %label
    Confirm Password
    = password_field_tag :confirm_password, nil, required: true

  = hidden_field_tag :token, EncryptedMessages.new.encrypt_and_sign(@user.username, expires_in: 7.days, purpose: :username)

  .text-center
    - if @user.persisted?
      = submit_tag 'Update Account', class: 'button save', 'data-disable-with': 'Updating Account...'
    - else
      = submit_tag 'Create Account', class: 'button save', 'data-disable-with': 'Creating Account...'
