!!!
%html{ lang: :en }
%head
  %title Baseballbot Gameday
  %meta{ charset: 'utf-8' }
  %meta{ name: :viewport, content: 'width=device-width, initial-scale=1.0' }
  = stylesheet_link_tag :gameday, media: :all
  = javascript_pack_tag 'gameday'
%body
  %nav.toolbar{ role: 'navigation' }
    = link_to 'Baseballbot', root_path, class: 'branding'

    %section.main-menu
      = link_to 'Game Threads', '#'
      = link_to 'Subreddits', subreddits_path
      = link_to 'Templates', '#'
      = link_to 'Gameday', gameday_path

  %section.game-cards

  .loading
