- title 'Baseballbot'

%h4 Today's Game Threads (#{@game_threads.count})

%table
  %thead
    %tr
      %th PK
      %th Title
      %th Subreddit
      %th Post At
      %th Starts At
      %th Status
  %tbody
    - @game_threads.each do |game_thread|
      %tr
        %td= link_to game_thread.game_pk, "https://www.mlb.com/gameday/#{game_thread.game_pk}"
        %td= link_to game_thread.title, "http://redd.it/#{game_thread.post_id}" if game_thread.post_id.present?
        %td= link_to game_thread.subreddit.name, "http://reddit.com/r/#{game_thread.subreddit.name}"
        %td.no-wrap= game_thread.post_at.strftime '%-I:%M %p'
        %td.no-wrap= game_thread.starts_at.strftime '%-I:%M %p'
        %td
          - if game_thread.post_at.past? && game_thread.status == 'Future'
            %span.label.radius.fw.game_thread.error Error
          - elsif game_thread.starts_at.past? && game_thread.status == 'Posted'
            %span.label.radius.fw.game_thread.live Live
          - else
            %span.label.radius.fw.game_thread{ class: game_thread.status.downcase }= game_thread.status

%p All times are Pacific.
