:ruby
  title 'Add a Game Thread'

  javascript 'game_threads/new'

  my_subreddits_with_game_threads = Current.user.subreddits.where("options['game_threads']['enabled']::boolean IS TRUE")

  now = Time.zone.now

%h1.text-center Add a Game Thread

.panel
  = form_with model: @game_thread do |f|
    - if @game_thread.errors.full_messages.any?
      .alert-box.error
        %ul
          - @game_thread.errors.full_messages.each do |message|
            %li= message

    %label
      Subreddit
      = f.select :subreddit_id, my_subreddits_with_game_threads.pluck(:name, :id), { include_blank: true }, required: true, 'data-field': 'subredditId'

    %label
      Date
      = date_field_tag :date, params[:date] || Time.zone.today, 'data-field': 'date'

    %label
      Game
      = f.select :game_pk, [], {}, 'data-field': 'gamePk', disabled: true, required: true

    %label
      Hours before game time to post thread
      = number_field_tag :hours, 1, min: 0, max: 12

    %label
      Post Title
      = f.text_field :title, 'data-field': 'title'
      %p.help Leave blank to use the default post title for this subreddit

    .text-center
      = f.submit 'Save', class: 'button save', 'data-disable-with': 'Saving...'

  %h4 Title Formatting Tokens

  %table
    %thead
      %tr
        %th Token
        %th Description
        %th Example
    %tbody
      %tr
        %td
          %strong {{start_time}}
        %td Local start time
        %td 7:10 PM
      %tr
        %td
          %strong {{start_time_et}}
        %td Eastern start time
        %td 10:10 PM ET
      %tr
        %td
          %strong {{away_full_name}}
        %td Full away team name
        %td Cleveland Guardians
      %tr
        %td
          %strong {{away_name}}
        %td Short away team name
        %td Guardians
      %tr
        %td
          %strong {{away_pitcher}}
        %td Away starting pitcher last name
        %td Johnson
      %tr
        %td
          %strong {{away_record}}
        %td Away team record
        %td 32-11
      %tr
        %td
          %strong {{home_full_name}}
        %td Full home team name
        %td Kansas City Royals
      %tr
        %td
          %strong {{home_name}}
        %td Short home team name
        %td Royals
      %tr
        %td
          %strong {{home_pitcher}}
        %td Home starting pitcher last name
        %td Smith, W
      %tr
        %td
          %strong {{home_record}}
        %td Home team record
        %td 81-80
      %tr
        %td
          %strong {{series_game}}
        %td Postseason series game description
        %td ALDS Game 2
      %tr
        %td
          %strong {{home_wins}}
        %td Postseason home team wins
        %td 1
      %tr
        %td
          %strong {{away_wins}}
        %td Postseason away team wins
        %td 0
      %tr
        %td
          %strong {{month}}
        %td Month
        %td= now.month
      %tr
        %td
          %strong {{day}}
        %td Day
        %td= now.day
      %tr
        %td
          %strong {{year}}
        %td 4-Digit Year
        %td= now.year
      %tr
        %td
          %strong {{short_year}}
        %td 2-Digit Year
        %td= now.strftime('%y')
      %tr
        %td
          %strong {{month_name}}
        %td Month Name
        %td= now.strftime('%B')
      %tr
        %td
          %strong {{day_of_week}}
        %td Weekday name
        %td= now.strftime('%A')
      %tr
        %td
          %strong {{short_day_of_week}}
        %td Abbreviated weekday name
        %td= now.strftime('%a')
