:ruby
  title "Edit /r/#{@subreddit.name} Settings"

  javascript subreddit: @subreddit.id

%h1.text-center
  Edit /r/#{@subreddit.name} Settings

.panel
  = form_with model: @subreddit do |f|
    .grid
      .medium-6.columns
        %h2.text-center Game Threads

        %label
          Sticky Comment
          = text_area_tag 'subreddit[options][game_threads][sticky_comment]', @subreddit.options.dig('game_threads', 'sticky_comment'), rows: 5

        %h2.text-center Pregame Threads

        %label
          Sticky Comment
          = text_area_tag 'subreddit[options][pregame][sticky_comment]', @subreddit.options.dig('pregame', 'sticky_comment'), rows: 5

        %h2.text-center Postgame Threads

        %label
          Sticky Comment
          = text_area_tag 'subreddit[options][postgame][sticky_comment]', @subreddit.options.dig('postgame', 'sticky_comment'), rows: 5

      .medium-6.columns
        %h2.text-center Off Day Threads

        %label
          Sticky Comment
          = text_area_tag 'subreddit[options][off_day][sticky_comment]', @subreddit.options.dig('off_day', 'sticky_comment'), rows: 5

        %h2.text-center Sidebar

        %h2.text-center General

    .text-center
      = f.submit 'Save', class: 'button save', 'data-disable-with': 'Saving...'
