:ruby
  title "/r/#{@subreddit.name} Game Threads"

  javascript 'game_threads/table', subreddit: @subreddit.id

%h1.text-center
  = link_to "https://reddit.com/r/#{@subreddit.name}" do
    %i.fa.fab.fa-reddit
    \/r/#{@subreddit.name}
  Game Threads

%div(data-pagination)

%table.game-threads
  %thead
    %tr
      %th{ 'data-column' => 'gamePk' } PK
      %th{ 'data-column' => 'title' } Title
      %th{ 'data-column' => 'subreddit' } Subreddit
      %th{ 'data-column' => 'postAt' } Post At
      %th{ 'data-column' => 'startsAt' } Starts At
      %th{ 'data-column' => 'status' } Status
  %tbody
    %tr.loading
      %td{ colspan: 6 } Loading game threads...

%p All times are Pacific.

%div(data-pagination)

- if logged_in? && Current.user.subreddits.any?
  %p.text-center= link_to 'Add a Game Thread', new_game_thread_path, class: 'button plain'
