- title "/r/#{@subreddit.name}"
- html_data subreddit: @subreddit.id

%h4 /r/#{@subreddit.name}

.grid
  .medium-6.columns
    %h5.text-center Templates

    .panel
      %ul
        - @subreddit.templates.each do |template|
          %li= link_to "» #{template.type.titleize}", template_path(template)

  .medium-6.columns
    %h5.text-center Settings

    .panel
      %ul.disc{ 'data-field' => 'options' }

= javascript_packs_with_chunks_tag 'subreddits/show'
