- title "/r/#{@subreddit.name}"

%h4 /r/#{@subreddit.name}

.grid
  .medium-6.columns
    %h5.text-center Templates

    .panel
      %ul
        - @subreddit.templates.each do |template|
          %li= link_to "» #{template.type.titleize}", template_path(template)

  .medium-6.columns
    %h5.text-center Settings

    .panel
      %ul.disc
        - if @subreddit.update_sidebar?
          %li Hourly Sidebar Updates

        - if @subreddit.post_pregame?
          %li
            Pregame Threads
            = post_at_format @subreddit.options['pregame']['post_at']

        - if @subreddit.post_game_threads?
          %li
            Game Threads
            = post_at_format @subreddit.options['game_threads']['post_at']

        - if @subreddit.post_postgame?
          %li Postgame Threads
