- title "/r/#{@subreddit.name}"
- html_data subreddit: @subreddit.id

%h1.text-center
  = link_to "https://reddit.com/r/#{@subreddit.name}" do
    %i.fa.fab.fa-reddit
    \/r/#{@subreddit.name}

.grid
  .medium-6.columns
    %h2.text-center Templates

    .panel
      %ul{ 'data-field' => 'templates' }

  .medium-6.columns
    %h2.text-center Settings

    .panel
      %ul.disc{ 'data-field' => 'options' }

= javascript_pack_tag 'subreddits/show'
