!!!
%html{ lang: :en }
  %head
    %title= content_for?(:title) ? yield(:title) : 'baseballbot.io'
    %meta{ charset: 'utf-8' }
    %meta{ name: :viewport, content: 'width=device-width, initial-scale=1.0' }
    = csrf_meta_tags
    = stylesheets!
    = javascripts!
  %body{ data: body_dataset }
    %nav.toolbar{ role: 'navigation' }
      = link_to 'Baseballbot', root_path, class: 'branding'

      %section.main-menu
        = link_to 'Game Threads', game_threads_path
        = link_to 'Subreddits', subreddits_path
        = link_to 'Gameday', gameday_path

      %section.main-menu.right
        - if logged_in?
          = link_to 'Log Out', :logout, method: :delete
        - else
          = link_to 'Log In', :login
          = link_to 'Sign Up', :sign_up_start

    %section.page-content
      - unless flash.empty?
        - flash.each do |type, message|
          .alert-box{ class: type }
            %a.close{ href: '#' } &times;
            = message
        - flash.clear

      = yield
