!!!
%html{ lang: :en }
%head
  %title= content_for?(:title) ? yield(:title) : 'baseballbot.io'
  %meta{ charset: 'utf-8' }
  %meta{ name: :viewport, content: 'width=device-width, initial-scale=1.0' }
  = stylesheet_link_tag    :application, media: :all
  = javascript_include_tag :application
  = javascript_include_tag :modernizr
  = csrf_meta_tags
%body
  %nav.toolbar{ role: 'navigation' }
    = link_to 'Baseballbot', root_path, class: 'branding'

    %section.main-menu
      = link_to 'Game Threads', '#'
      = link_to 'Subreddits', subreddits_path
      = link_to 'Templates', '#'

  - unless flash.empty?
    - flash.each do |type, message|
      .alert-box{ class: type }
        %a.close{ href: '#' } &times;
        = message
    - flash.clear

  = yield
