!!!
%html{ lang: :en }
  %head
    %title= content_for?(:title) ? yield(:title) : 'baseballbot.io'
    %meta{ charset: 'utf-8' }
    %meta{ name: :viewport, content: 'width=device-width, initial-scale=1.0' }
    = csrf_meta_tags
    = stylesheets!
    = stylesheet_link_tag 'https://kit.fontawesome.com/eacb1922fa.css', crossorigin: 'anonymous', nonce: true
    = javascripts!
  %body.bg-slate-100{ data: body_dataset }
    %nav.toolbar{ role: 'navigation' }
      = link_to 'Baseballbot', root_path, class: 'branding inline-block'

      %section.main-menu.inline-block
        = link_to 'Game Threads', game_threads_path
        = link_to 'Subreddits', subreddits_path
        = link_to 'Gameday', gameday_path

    - unless flash.empty?
      - flash.each do |type, message|
        .alert-box{ class: type }
          %a.close{ href: '#' } &times;
          = message
      - flash.clear

    = yield
